PORT=8081

# Optional: path to your local Fabric test-network.
FABRIC_TEST_NETWORK=

# Leave blank to auto-detect bvschannel or mychannel.
FABRIC_CHANNEL_NAME=
FABRIC_CHAINCODE_NAME=hashledger
FABRIC_MSP_ID=Org1MSP
FABRIC_PEER_ENDPOINT=localhost:7051
FABRIC_PEER_HOST_ALIAS=peer0.org1.example.com
